.container{
    background-image: url("../images/background.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
@font-face{
    font-family: "Verdana Bold";
    src: url("../fonts/ofont.ru_Verdana.ttf")
}
.header{
    width: 100%;
    height: 56px;
    border: 0px solid transparent;
    background-color: rgba(17, 22, 17, 0.5);
    display: inline-block;
    padding-top: 1.15%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    overflow: hidden;
}
.logo{
    font-family: Verdana Bold;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: inline-block;
}
.logo:hover{
    color: #3cb878;
}
.navigation{
    display: inline-block;
    margin-left: 60%;
}
.sprite{
    background-image: url("../images/sprites/Joutney-sprites.png");
    background-repeat: no-repeat;
    display: inline-block;
}
.sprite.calendar{
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
}
.sprite.calendar:hover{
    width: 19px;
    height: 19px;
    background-position: -34px -5px;
}
.sprite.forum{
    width: 28px;
    height: 20px;
    background-position: -5px -34px;
    margin-left: 28px;
}
.sprite.forum:hover{
    width: 28px;
    height: 20px;
    background-position: -43px -34px;
}
.sprite.compass{
    width: 20px;
    height: 20px;
    background-position: -81px -5px;
    margin-left: 28px;
}
.sprite.compass:hover{
    width: 20px;
    height: 20px;
    background-position: -81px -35px;
}
.account-management{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 25px;
    padding-left: 25px;
    border-left: 1px solid rgba(73, 73, 73, 0.7);
}
.log-in{
    text-decoration: none;
    color: #3cb878;
    font-family: Verdana, sans-serif;
}
.sing-up{
    text-decoration: none;
    color: #3cb878;
    font-family: Verdana, sans-serif;
}
.log-in:hover{
    border-bottom: 1px solid #3cb878;
}
.sing-up:hover{
    border-bottom: 1px solid #3cb878;
}
.form{
    width: 444px;
    background-color: #fff;
    border-radius: 15px;
    padding-top: 32px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
    margin-top: calc(15vh - 56px);
}
.facebook{
    padding: 13.5px 17px 13px 20px;
    background-color: #305db8;
    border: none;
    border-radius: 3.5px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}
.google-plus{
    padding: 13.4px 30px 13px 13px;
    background-color: #df4a32;
    border: none;
    border-radius: 3.5px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}
.separator{
    display:
}
/* .google-plus{
    padding: 15px 30px 14px 13px;
    background-color: #df4a32;
    border: none;
    border-radius: 3.5px;
}
.facebook span{
    font-size: 30px;
    font-weight: 700;
    font-family: sans-serif;
    border-right: 1px solid rgba(1, 1, 1, 0.2);
    padding-right: 17px;
}
.fa{
    font-size: 50px;
    font-weight: 700;
    border-right: 1px solid rgba(1, 1, 1, 0.2);
    padding-right: 9px;
} */



