.container{
    width: 1215px;
    height: 768px;
    background-image: url("../image/background.jpg");
    padding-top: 49px;
    padding-left: 150px;
    padding-bottom: 20px;
    padding-left: 157px;
}
header{
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}
.logo{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
}
.logo-img{
    width: 46px;
    height: 44px;
    background-image: url("../image/logo@1X.png");
    float: left;
    margin-right: 15px;
}
.logo-text{
    float: left;
}
.milan{
    font-size: 29px;
}
.holidays{
    font-size: 18px;
}
.logo:hover .logo-img{
    background-image: url("../image/logo@2X.png");
}
.logo:hover .logo-text{
    color: #f26522;
}
.contacts{
    float: right;
    padding-right: 157px;
    padding-top: 9px;
    font-size: 18px;
}
.contacts a{
    color: #fff;
    text-decoration: none;
}
.contacts p{
    text-align: right;
}
.logo-text:hover{
    color: #f26522;
}
.image{
    width: 307px;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.photo{
    color: #fff;
    text-decoration: none;
    float: left;
}
main{
    margin-top: 49px;
}
main a:nth-child(4){
    clear: both;
}
main a:nth-child(3n+2){
    margin-left: 69px;
    margin-right: 68px;
}
main a:first-child{
    margin-bottom: 60px;
}
main a:nth-child(2){
    margin-bottom: 60px;
}
main a:nth-child(3){
    margin-bottom: 60px;
}
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
.services{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}
.details{
    width: 307px;
    height: 63px;
    background-color: #f26522;
    position: absolute;
    padding-top: 16px;
    padding-bottom: 17px;
    padding-left: 21px;
    padding-right: 18px;
    box-sizing: border-box;
    clear: right;

}
.details p{
    color: #fff !important;
    font-family: sans-serif;
}
.photo:hover .details{
    bottom: 0;
}
.photo:hover{
    color: #f26522;
}
.view{
    margin-top: 14px;
    float: right;
}
.details .view:after{
    content: ">";
    color: #fff;
    padding-left: 5px;

}
.price p:first-child{
    font-size: 10px;
}
.price p:nth-child(2){
    font-size: 20px;
}
.view p{
    font-size: 14px;
    text-transform: capitalize;
}
.price{
    float: left;
}
footer{
    color: #fff;
    text-align: center;
    margin-top: 123px;
    width: 1062px;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}
