.container{
    width: 1480px;
    height: 1282px;
    margin: 0 auto;
}
.header{
    font-size: 80px;
    margin-left: 101px;
    margin-top: 61px;
    margin-bottom: 45px;
}
.header span{
    color: #4bcaff;
}
.header a{
    text-decoration: none;
    color: black;
}
.header-nav{
    margin-left: 101px;
    color: #ffffff;
    width: 1280px;
    height: 69px;
    background-color: #35444f;
}
.header-nav ul{
    text-align: center;
}
.header-nav li{
    margin-top: 26px;
    display: inline-block;
}
.nav-bar-btn a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding-top: 24px;
    padding-bottom: 22px;
    padding-left: 41px;
    padding-right: 41px;   
    text-transform: capitalize;
}
.nav-bar-btn a:hover{
    background: #222f3a;
    border: solid 0.2px #818181;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}
.info-block{
    width: 1480px;
}
.side-menu{
    vertical-align: top;
    display: inline-block;
    color: #485863;
    border: solid 1px #35444f;
    width: 344px;
    height: 399px;
    margin-left: 100px;
    margin-top: 51px;
}
.side-menu-btn{
    width: 344px;
    height: 81px;
}
.side-menu-btn a{
    font-weight: bold;
    display: block;
    color: #485863;
    text-decoration: none;
    background: none;
    font-size: 20px;
    padding-top: 25px;
    padding-left: 43px;
    padding-bottom: 30px;
    box-sizing: border-box
}
.side-menu-btn a:hover{
    background: #dbdbdb;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}
.image{
    width: 880px;
    border: solid 1px #35444f;
    padding-top: 75px;
    padding-right: 268px;
    padding-bottom: 73px;
    padding-left: 297px;
    box-sizing: border-box;
     margin-top: 51px;
    margin-left: 52px;
    display: inline-block;
    vertical-align: top;
    }
.image img{
    width: 320px;
    height: 381px;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}  
.image img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.discription-text{
    margin-top: 50px;
    margin-left: 526px;
    width: 815px;
}
.discription-text>p{
    margin-bottom: 30px;
    font-size: 18px;
}
.footer-menu{
    border: 1px solid black;
    margin-left: 101px;
    color: #ffffff;
    width: 1280px;
    height: 69px;
    background-color: #b4b7ba;
}
.footer-menu ul{
    width: 851px;
    display: inline-block;
}
.footer-menu li{
    font-weight: 600;
    margin-top: 26px;
    display: inline-block;
}
.footer-menu-btn a{
    color: #0c1927;
    text-decoration: none;
    font-size: 22px;
    padding-left: 25px;
    padding-right: 21px;
    padding-bottom: 7px;   
    text-transform: capitalize
}
.footer-menu-btn a:hover{
    color: #3181a6;
    border-bottom: 0.5px solid #3181a6;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}
.copyright{
    font-size: 22px;
    margin-left: 225px;
    text-align: right;
    color: #010101;
    width: 175px;
    height: 23px;
    display: inline-block;
}