body{
    margin: 0;
    padding: 0;
}
.background{
    background-color: #f5f6f7;
}
.container{
    margin: 0 auto;
    width: 1280px;
}
.header-nav a{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #16a085;
    text-transform: uppercase;
    font-weight: bold;
    
}
.header-nav{
    margin: 0 auto;
    text-align: center;
}
.nav-bar{
    margin-left: 50px;
    display: inline-block;
}
.nav-bar:first-child{
    margin-left: 0;
}
.button-get-started{
    margin-top: 50px;
    margin-bottom: 100px;
    background: #16a085;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 35px;
    padding-left: 35px; 
}
.button-container{
    text-align: center;
}
.copyright{
    text-align: right;
    font-weight: bolder;
}
.p1{
    margin-top: 50px;
    font-weight: bolder;
    text-align: center
}
.Rappresent{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}